* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style:none;
    text-decoration:none;
    margin:0px;
    padding:0px;
    color:black;
}
.div1{
    text-align: center;
}
.div2{
    /*background-color: darkorange;*/
    width:100%;
    height:900px;
}
.div3{
    width:1280px;
    height:900px;
    margin-left: 203px;
    /*background-color: darkslateblue;*/
    display: flex;
    padding-top: 50px;
}
.div4{
    width:200px;
    height:100px;
    margin-left: 780px;
    /*background-color: gold;*/
}
.div5{
    width:1280px;
    height:700px;
    margin-left: 203px;
    /*background-color: darkslateblue;*/
    display: flex;
    padding-top: 50px;   
}
.div6{
    width:200px;
    height:100px;
    margin-left: 600px;
    /*background-color: greenyellow;*/
    position: absolute;
    margin-top: 800px;
}
.Ani{
    width:100px;
    height:30px;
    background: #2F7AF4;
    color:#fff;
    font-size:12px;
    line-height: 30px;
    margin:25px auto;
}
.header{
    display:flex;
    width:1280px;
    margin:auto;
    height:86px;
    /*background-color: blue*/
}
.searchArea{
    width:300px;
    height:40px;
    background-color: rgba(0,0,0,0.0);
    border: 1px solid black ;
    margin-top:24px;
    /*background-color:burlywood*/
}
.searchArea > form > input{
    border:none;
    width:250px;
    height:40px;
    background-color: rgba(0,0,0,0);
    color:#fff;
    padding-left: 10px;
}
.searchArea > form > span{
    width:50px;
    color:black;
    font-weight: bold;
    cursor: pointer;
}
.nav{
    display: flex;
    justify-content: flex-end;
    /*background-color: chartreuse;*/
    width:calc(1280px - 300px);
}
.nav > li{
    margin-left: 84px;
    line-height: 86px;
}
.div3 > ul{
    display: flex;
}
.div3 > ul > li {
    width:300px;
    height:300px;
    flex:1;
    justify-content: flex-end;
    text-align:center;
    /*background-color: sandybrown;*/
}
.div3 > ul >li:not(:last-child){
        margin-right: 20px;
}
#li1{
    position:absolute;
    top:520px;
    left:203px;
    /*background-color: royalblue;*/
}
#li2{
    position:absolute;
    top:520px;
    left:523px;
    /*background-color: salmon;*/

}
#li3{
    position:absolute;
    top:520px;
    left:843px;
}
#li4{
    position:absolute;
    top:520px;
    left:1163px;
}
.td{
        height:100px;
        width:150px;
        background-color:fuchsia
}
.td1{
    height:100px;
    width:1230px;
    background-color: gainsboro;
}
